@import "tailwindcss";

@theme{
  --container-max-width-sm: 100%;
  --container-max-width-md: 720px;
  --container-max-width-lg: 1200px;
}


header{
    background: #F85606;
    
}

.psticky{
  position:sticky;
  top:0;
  z-index: 999;
  padding-bottom: 0;
  

  .up{
    display: none;
    transition: 0.5s;
  }
  .nav{
    padding-bottom: 2px;
     transition: 0.5s;
  }
}


.icon{
    background: #FFE1D2;
}

footer{
    color:rgb(107, 104, 104);

    li{
    font-size: 13px;
}
}


.name{
        display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.top li{
    padding: 5px;
    color: black;
}

.line{
    width:200px;
    height:1px;
    background: gray;
}

.linee{
    width:290px;
    height:1px;
    background: gray;
}


 @media (min-width: 640px) {
    .container {
      max-width: var(--container-max-width-sm);
    }
  }

  @media (min-width: 768px) {
    .container {
      max-width: var(--container-max-width-md);
    }
  }

  @media (min-width: 1024px) {
    .container {
      max-width: var(--container-max-width-lg);
    }
  }

  .login , .signup{
    position: fixed;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}


.login.show , .signup.show{
    display: inline-block;
    z-index: 9999;
  
}

.categoriesShow.show{
  left:0;
  transition: 0.9s;
}
.accountShow, .categoriesShow{
  left:-100%;
  transition:0.9s;
}

.accountShow.show{
  left:0;
  transition: 0.9s;
}

